fastapi
uvicorn[standard]
python-dotenv
pydantic
chromadb
sentence-transformers
langgraph
langchain-core
langchain-community<0.4.2
langchain-huggingface
langchain-groq
ragas<0.4
python-multipart
openai-whisper
numpy
google-cloud-storage