fastapi
uvicorn[standard]
python-dotenv
pydantic
chromadb
sentence-transformers
langgraph
python-multipart
openai-whisper
langchain-core
langchain-community
langchain-huggingface
langchain-groq
langchain-openai
numpy