fastapi
uvicorn
python-dotenv
pydantic
chromadb
sentence-transformers
langgraph
pypdf
python-multipart
openai-whisper

## Dependencia para despliegue básico
jinja2
##plantilla que FastAPI usa normalmente para renderizar HTML